/* Montserrat font imported from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}

.music-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    position: relative;
}

.music-top{
    width: 800px;
    height: 70px;
    display: flex;
    justify-content:space-between;
    padding: 10px 0;
    margin-top: 5rem;
}

.music-logo{
    width: fit-content;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 0 0 20px 0;
}

.music-logo #music-soundwaveIcon{
    width: 35px;
    height: 35px;
}

.music-text{
    text-align: center;
}

.music-text h4{
    font-size: 20px;
}

.music-text p{
    font-size: 6px;
    letter-spacing: 5px;
}

.search-bar{
    background: #EBEBEB;
    width: 374px;
    height: 46px;
    display :flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    border: 1px solid #C1C1C1;
}

#search-text-container{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    padding: 0 18px;
    background-color: #EBEBEB;
}

#search-icon{
    width: fit-content;
    padding-right: 18px;
    width: 50px;
}

/************** CSS for music list  **************/

.music-arrow-container{
    width: 800px;
    display: flex;
    gap: 20px;
}


.music-list-container{
    /* background: grey; */
    width: 800px;
    height: 30rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 30px;
    margin-top: 40px;
    position: relative;
    /* background-color: blue; */
}

.music-card{
    /* border: 1px solid; */
    width: 140px;
    height: fit-content;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    transition: .3s;
    /* background: blue; */
}

.hide{
    display: none;
}

.box{
    width: 140px;
    height: 140px;
    background-color: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 34px;
    transition: .2s;
    position: relative;
}

.favorites-mini-grey-icon{
    width: 20px;
    position: absolute;
    z-index: 10;
    top: 25px;
    left: 25px;
    transition: .2s;
}

.favorites-mini-icon{
    width: 20px;
    position: absolute;
    z-index: 10;
    top: 25px;
    left: 25px;
    transition: .2s;
    display: none;
}

.favorites-mini-grey-icon:hover, .favorites-mini-icon:hover{
    opacity: .7;
    cursor: pointer
}
.favorites-mini-grey-icon:active, .favorites-mini-icon:active{
    scale: .9;
}

.favSort{
    width: 35px;
    height: 35px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    background-color: #EBEBEB;
    border-radius: 50%;
}

.favPlayListActive, 
.favPlayListInactive{
    display: inline;
    width: 20px;
    height: 20px;
    transition: .2s;
    cursor: pointer;
}

.favPlayListActive{
    display: none;
}

.favPlayListActive:hover, 
.favPlayListInactive:hover{
    scale: 1.1;
}
.favPlayListActive:active, 
.favPlayListInactive:active{
    scale: .9;
}

#box-icon{
    margin-top: 10px;
    width: 65px;
}

.music-card:hover {
    cursor: pointer;
    scale: 1.05;
}

.song-title{
    width: 140px;
}

.song-title h5{
    font-size: 13px;
}
.song-title h6{
    color: #8B8B8B;
    margin-top: 3px;
}

.arrows{
    display: flex;
    flex-direction: column;
    /* background-color:blue; */
    width: fit-content;
    margin-top: 6rem;
    gap: 20px;
    transition: .2s;
}

/* #up-arrow, #down-arrow{
    transform: rotate(90deg);
    transition: .2s;
}

#up-arrow:hover, #down-arrow:hover{
    scale: 1.1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 100px -20px, rgba(0, 0, 0, 0.3) 0px 10px 60px -30px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
    /* background-color: #f0f0f0; */
/* } */

#up-arrow:active, #down-arrow:active{
    scale: .9;
} */


/* HOver effects for boxes */
.box:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 100px -20px, rgba(0, 0, 0, 0.3) 0px 10px 60px -30px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
    background-color: #f0f0f0;
}


