/* Montserrat font imported from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --white-bg: #fffff;
    --light-grey: #ebebeb;
    --light-grey-hover: #f0f0f0;
    --black-text: #000000;
    --song-title-grey: #8B8B8B;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: var(--white-bg);
}


.video-wrapper{
    width: 1200px;
    height: 100%;
    display: none;
    flex-direction: column;
    background: var(--white-bg);
}

.video-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    position: relative;
}

.video-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#video-soundwaveIcon{
    width: 50px;
}

.video-text{
    text-align: center;
}

.video-text h4{
    font-size: 25px;
}
.video-text p{
    font-size: 10px;
    letter-spacing: 5px;
    
}

.go-back-video{
    width: 3rem;
    position: absolute;
    top: 7.5rem;
    transition: .2s;
    cursor: pointer;
}
.go-back-video:hover{
    opacity: .8;
}
.go-back-video:active{
    scale: .9;
}

.go-to-music-player{
    width: 2.5rem;
    position: absolute;
    top: 7.5rem;
    right: 0;
    transition: .2s;
    cursor: pointer;
}
.go-to-music-player:hover{
    opacity: .8;
}
.go-to-music-player:active{
    scale: .9;
}

.video-container{
    border: 1px solid purple;
    height: fit-content;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-top: 2rem;
}

#myVideo {
    border-radius: 8px;
    /* width="640" height="360" */
    width: 840px;
    height: 470px;
}

.videoList{
    background: var(--light-grey);
    width: 330px;
    height: 470px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    position: relative;
}
.videoList h3{
    background: var(--light-grey);
    /* background: blue; */
    position: fixed;
    z-index: 5;
    height: 50px;
    top: 12rem;
    width: 280px;
    display: flex;
    align-items: center;
    color: black;
}

.videoList h3:hover{
    border-bottom: 1px solid purple;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.list p{
    display: block;
    background: var(--light-grey-hover);
    padding: 8px 15px;
    border-radius: 8px;
    transition: .2s;
    color: rgb(61, 61, 61);
}

.list p:hover{
    background: var(--white-bg);
    scale: 1.05;
    color: black;
    cursor: pointer;
}