/* Montserrat font imported from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}


.video-wrapper{
    width: 1200px;
    height: 100%;
    display: none;
    flex-direction: column;
}

.video-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
}

.video-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#video-soundwaveIcon{
    width: 50px;
}

.video-text{
    text-align: center;
}

.video-text h4{
    font-size: 25px;
}
.video-text p{
    font-size: 10px;
    letter-spacing: 5px;
    
}

.video-container{
    border: 1px solid purple;
    height: fit-content;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

#myVideo {
    border-radius: 8px;
    /* width="640" height="360" */
    width: 840px;
    height: 470px;
}

.videoList{
    background: rgb(228, 228, 228);
    width: 330px;
    height: 470px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    position: relative;
}
.videoList h3{
    background: rgb(228, 228, 228);
    /* background: blue; */
    position: fixed;
    z-index: 5;
    height: 50px;
    top: 10rem;
    width: 280px;
    display: flex;
    align-items: center;
    color: black;
}

.videoList h3:hover{
    border-bottom: 1px solid purple;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.list p{
    display: block;
    background: lightgrey;
    padding: 8px 15px;
    border-radius: 8px;
    transition: .2s;
    color: rgb(61, 61, 61);
}

.list p:hover{
    background: whitesmoke;
    scale: 1.05;
    color: black;
    cursor: pointer;
}