/* Montserrat font imported from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}


.video-wrapper{
    width: 1200px;
    height: 100%;
}

.video-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
}

.video-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#video-soundwaveIcon{
    width: 50px;
}

.video-text{
    text-align: center;
}

.video-text h4{
    font-size: 25px;
}
.video-text p{
    font-size: 10px;
    letter-spacing: 5px;
}